

body {
  margin: 0;
  padding: 0; 
  height: auto;
  background-color: rgba(243, 235, 224, 1);
}

.grid_hero {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.hero_image {
  /* position: relative; */
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-column: 1/3;
    grid-row: 1/4;

}

.content_button {
  grid-column: 2/3;
  grid-row: 2/3;
}

.hero_content {
   /*  position: absolute;
    top: 30%;
    left: 50%; */
    color: #809671; 
    /* text-align: center; */
    margin-bottom: 10px;
   
}

h1 {

    font-size: 3cqw;
}

.button_center {
  padding: 10px 60px;
  border: 3.5px solid #809671;
  border-radius: 60px;
  background-color: transparent;
  color: #809671;
  text-decoration: none;
}
.button_center:hover {
  color: #594838;
  background-color: transparent;
  border: 3.5px solid #594838;
}


/********************************** three icons *********************/
.three_icons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 17%;
    padding-top: 3%;
}

.icon_size {
  width: 60px;
  height: 60px;
}

.three_icons_text {
    display: flex;
    justify-content: center;
    padding: 4%;
}


/********************************** three icons end *********************/

.hor_line {
    border: none;
    height: 1px; 
    background-color: rgba(90, 73, 56, 1);
    margin: 5% 0; 
}

.nyheder_text {
  text-align: center;
}

.icons {
  width: 40px;
  height: 40px;
}


.button_center {
  padding: 3px 20px;
  border: 2px solid #809671;
  border-radius: 60px;
  background-color: transparent;
  color: #809671;
  text-decoration: none;
}
.button_center:hover {
  color: #594838;
  background-color: transparent;
  border: 3.5px solid #594838;
}

/********************************************* karousel ****************************************************/
h5 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.3rem;
  color: #594838;
}
h6 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.2rem;
  color: #809671;
}

.produkter {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    margin: 5% 0 2% 5%;
    padding-left: 5%;
}

.carousel {
    display: flex;
    overflow: hidden;
    flex: 1;
    gap: 10px;
}

.carousel-slide {
    flex: 0 0 20%; 
}

.nav-arrows {
  font-size: 20px;
  cursor: pointer;
  color: #809671;
  margin: 10% 2% 0 0;
}

.next-arrow {
font-size: 25px;
}

/********************************************* karousel end ****************************************************/

.button_nyheder {
  text-align: center;
}

.citat {
  text-align: center;
  padding: 0 10% 5% 10%;
}

 .video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.flex_facebook_insta {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.om_helse_centret {
  padding: 0 10% 10% 10%;

}

.om_helse_tekst {
  margin: 5%;
}

.button_laes_mere {
text-align: center;
margin-top: 10%;
}
    
@media screen and (min-width: 800px)  {

.three_icons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 3%;
}

.three_icons_text {
    display: flex;
    justify-content: center;

}

.icon_size {
  width: 100px;
  height: 100px;
}





.text_rabat {
    padding: 0 2% 0 12%;
}

.text_shipping {
    padding: 0;
}

.text_heart {
    padding: 0 7% 0 3%;
}

.citat {
  text-align: center;
  padding: 0 20% 5% 20%;
}

.grid_laes_mere {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}

.om_helse_centret {
  margin: 5% 15% 0 15%;
}

.om_helse_tekst {
  margin: 5%;
}

.icons {
  width: 50px;
  height: 50px;
}

.button_center {
  padding: 10px 60px;
  border: 3.5px solid #809671;
  border-radius: 60px;
  background-color: transparent;
  color: #809671;
  text-decoration: none;
}
.button_center:hover {
  color: #594838;
  background-color: transparent;
  border: 3.5px solid #594838;
}

.button_nyheder {
  text-align: center;
  margin-top: 5%;
}

}

