

body {
  margin: 0;
  padding: 0; 
  height: auto;
  background-color: rgba(243, 235, 224, 1);
}

/****************** menu eksempel fra undervisning + ændringer *******************/

#header_forside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: rgba(243, 235, 224, 1); */
  position: relative;
  /* border-bottom-style: solid; */
  border-color: #594838;
  border-bottom-width: 1px;
}

.logo img {
  width: 60px;
  height: 60px;
}

.search_menu {
  width: 20px;
  height: auto;
}

.search_text {
  color: rgba(89, 72, 56, 0.7);
}

.iconer_menu {
  width: 30px;
  height: auto;
  margin-left: 20px;
}

nav {
  display: flex;
  align-items: center;
}

#menu_forside {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 30px;
}

#menu_log_ind_forside {
  display: flex;
  list-style: none;
  margin-right: 80px;
  padding: 0;
}

.underline {
  position: relative;
  display: inline-block;
  margin-right: 80px;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(89, 72, 56, 1);
}

#menu_forside li {
  margin-right: 20px;
}

#menu_forside li:last-child {
  margin-right: 0;
}

#menu_forside a {
  display: block;
  padding: 10px;
  color: rgba(89, 72, 56, 1);
  font-family: "Lora", "Calibri";
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: 1cqw;
}

#menu_forside a:hover {
  color: rgba(128, 150, 113, 1);
}

.iconer_menu:hover {
  color: rgba(128, 150, 113, 1);
  cursor: pointer;
}

#burger_forside {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#burger_forside .line {
  width: 100%;
  height: 2px;
  background-color: rgba(128, 150, 113, 1);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
#burger_forside {
  display: none;
}

@media screen and (max-width: 800px) {
  #menu_log_ind_forside {
    display: none;
  }

  #menu_forside {
    display: none;
  }
  #burger_forside {
    display: block;
  }
  #burger_forside.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  #burger_forside.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  #burger_forside.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(243, 235, 224, 1);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 20px;
  }
}

main {
  margin-top: -135px;
}
/****************** menu end *******************/


.grid_hero {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.hero_image {
  /* position: relative; */
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-column: 1/3;
    grid-row: 1/4;

}

.content_button {
  grid-column: 2/3;
  grid-row: 2/3;
}

.hero_content {
   /*  position: absolute;
    top: 30%;
    left: 50%; */
    color: #809671; 
    /* text-align: center; */
    margin-bottom: 10px;
   
}

h1 {

    font-size: 3cqw;
}

.button_center {
  padding: 10px 60px;
  border: 3.5px solid #809671;
  border-radius: 60px;
  background-color: transparent;
  color: #809671;
  text-decoration: none;
}
.button_center:hover {
  color: #594838;
  background-color: transparent;
  border: 3.5px solid #594838;
}


/********************************** three icons *********************/
.three_icons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 17%;
    padding-top: 3%;
}

.icon_size {
  width: 60px;
  height: 60px;
}

.three_icons_text {
    display: flex;
    justify-content: center;
    padding: 4%;
}


/********************************** three icons end *********************/

.hor_line {
    border: none;
    height: 1px; 
    background-color: rgba(90, 73, 56, 1);
    margin: 5% 0; 
}

.nyheder_text {
  text-align: center;
}

.icons {
  width: 40px;
  height: 40px;
}


.button_center {
  padding: 3px 20px;
  border: 2px solid #809671;
  border-radius: 60px;
  background-color: transparent;
  color: #809671;
  text-decoration: none;
}
.button_center:hover {
  color: #594838;
  background-color: transparent;
  border: 3.5px solid #594838;
}

/********************************************* karousel ****************************************************/

h5 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.3rem;
  color: #594838;
}
h6 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.2rem;
  color: #809671;
}

.produkter {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    margin: 5% 0 2% 5%;
    padding-left: 5%;
}

.carousel {
    display: flex;
    overflow: hidden;
    flex: 1;
    gap: 10px;
}

.carousel-slide {
    flex: 0 0 20%; 
}

.nav-arrows {
  font-size: 20px;
  cursor: pointer;
  color: #809671;
  margin: 10% 2% 0 0;
}

.next-arrow {
font-size: 25px;
}

/********************************************* karousel end ****************************************************/

.button_nyheder {
  text-align: center;
}

.citat {
  text-align: center;
  padding: 0 10% 5% 10%;
}

 .video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.flex_facebook_insta {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}


.om_helse_centret {
  padding: 0 10% 10% 10%;

}

.om_helse_tekst {
  margin: 5% 5% 5% 0;
}

.button_laes_mere {
text-align: center;
margin-top: 10%;
}

.three_test {
  text-align: center;
  justify-content: center; 
  gap: 2%;
  margin-top: 1%;
}

.text_iconer {
  max-width: 32ch;

}
    
@media screen and (min-width: 800px)  {

.three_test {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-top: 0.3%;
}

.three_icons_text {
    display: flex;
    justify-content: center;
    padding: 2% 5% 0 2%;
    gap: 8%;
    text-align: center;
}

.icon_size {
  width: 100px;
  height: 100px;
}

.citat {
  text-align: center;
  padding: 0 20% 5% 20%;
}

.grid_laes_mere {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}

.om_helse_centret {
  margin: 5% 15% 0 15%;
}

.om_helse_tekst {
  margin: 5% 5% 5% 0;
}

.icons {
  width: 50px;
  height: 50px;
}

.button_center {
  padding: 10px 60px;
  border: 3.5px solid #809671;
  border-radius: 60px;
  background-color: transparent;
  color: #809671;
  text-decoration: none;
}
.button_center:hover {
  color: #594838;
  background-color: transparent;
  border: 3.5px solid #594838;
}

.button_nyheder {
  text-align: center;
  margin-top: 5%;
}

.cotainer_mobil {
  display: none;
}

}


@media screen and (max-width: 800px)  {

.container_web {
  display: none;
}

.carousel-container_mobil {
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    margin: 5% 0 2% 5%;
    padding-left: 5%;
}

.carousel_mobil {
    display: flex;
    overflow: hidden;
    flex: 1;
    gap: 10px;
}

.carousel-slide_mobil {
    flex: 0 0 20%; 
}

.nav-arrows_mobil {
  font-size: 20px;
  cursor: pointer;
  color: #809671;
  margin: 10% 2% 0 0;
}

.next-arrow_mobil {
font-size: 25px;
}

.text_iconer {
text-align: center;
}

}
