* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  /* Tekst på heroimage */
  font-family: "Lora", "Calibri";
  font-size: 3rem;
}

h2 {
  /* Brun overskrift */
  font-family: "Lora", "Calibri";
  font-size: 2rem;
  color: #594838;
}

h3 {
  /* Grøn overskrift */
  font-family: "Lora", "Calibri";
  font-size: 2rem;
  color: #809671;
}

h4 {
  /* Citat tekster */
  font-family: "Lora", "Calibri";
  font-style: italic;
  font-weight: 200;
  font-size: 1.3rem;
  color: #809671;
}

h5 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.3rem;
  color: #594838;
}
h6 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.2rem;
  color: #809671;
}

p {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.1rem;
  color: #594838;
}

body {
  background-color: #f3ebe0;
}

/* ikoner: uden for @media = 40 x 40px, inde i @media = 50 x 50px + gap: 10px*/

/****************** menu eksempel fra undervisning + ændringer *******************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(243, 235, 224, 1);
  position: relative;
  border-bottom-style: solid;
  border-color: #594838;
  border-bottom-width: 1px;
}

.logo img {
  width: 60px;
  height: 60px;
}

.search_menu {
  width: 20px;
  height: auto;
}

.search_text {
  color: rgba(89, 72, 56, 0.7);
}

.iconer_menu {
  width: 30px;
  height: auto;
  margin-left: 20px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 30px;
}

.menu_log_ind {
  display: flex;
  list-style: none;
  margin-right: 80px;
  padding: 0;
}

.underline {
  position: relative;
  display: inline-block;
  margin-right: 80px;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(89, 72, 56, 1);
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: rgba(89, 72, 56, 1);
  font-family: "Lora", "Calibri";
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: 1cqw;
}

.menu a:hover {
  color: rgba(128, 150, 113, 1);
}

.iconer_menu:hover {
  color: rgba(128, 150, 113, 1);
  cursor: pointer;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: rgba(128, 150, 113, 1);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu_log_ind {
    display: none;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(243, 235, 224, 1);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 20px;
  }
}
/****************** menu end *******************/

/****************** Footer start *******************/
/* Footer line */
.footer_linje {
  border-top-style: solid;
  border-color: #594838;
  border-top-width: 1px;
  padding-top: 30px;
}

/* Footer styling - HUSK AT KOPIERE IND I JERES HTML */
.footer_menu {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
}

/* pil foran tekst er indsat ved hjælp af chatGPT */
.pil_container {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 30px;
  margin-right: 10px;
  color: #594838;
  vertical-align: middle;
  line-height: 1;
}

/* ----------- */

.footer_linje2 {
  display: flex;
  justify-content: space-between;
  padding: 0% 30%;
  padding-bottom: 20px;
}

/* Vertical line lavet ved hjælp af ChaptGPT */
.vertical_line {
  border-left: 2px solid #809671;
  height: 30px;
}

.footer_linje3 {
  display: flex;
  justify-content: center;
}

.smiley {
  width: 35px;
  height: 35px;
}
.betalingsikoner {
  width: 20%;
  padding-bottom: 2%;
}

footer {
  background-color: #d2d0b7;
}

/* TIL MOBILVERSION */

@media screen and (max-width: 1100px) {
  .footer_linje {
    border-top-style: solid;
    border-color: #594838;
    border-top-width: 1px;
    padding-top: 30px;
  }

  /* Footer styling - HUSK AT KOPIERE IND I JERES HTML */
  .footer_menu {
    display: grid;
    justify-content: space-between;
    padding: 8% 8%;
    gap: 5%;
  }

  /* pil foran tekst er indsat ved hjælp af chatGPT */
  .pil_container {
    display: flex;
    align-items: center;
  }

  .arrow {
    font-size: 30px;
    margin-right: 10px;
    color: #594838;
    vertical-align: middle;
    line-height: 1;
  }

  /* ----------- */

  .footer_linje2 {
    display: grid;
    justify-content: space-between;
    padding: 0% 8%;
  }

  /* Vertical line lavet ved hjælp af ChaptGPT */
  .vertical_line {
    border-left: 2px solid #809671;
    height: 30px;
    display: none;
  }

  .footer_linje3 {
    display: flex;
    justify-content: center;
    padding-top: 4%;
  }

  .smiley {
    width: 25px;
    height: 25px;
  }
  .betalingsikoner {
    width: 60%;
    padding-bottom: 5%;
  }

  footer {
    background-color: #d2d0b7;
  }
}
/****************** Footer end *******************/
