* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3ebe0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
}

.galleri_grid {
  display: grid;
  gap: 8px;
  padding: 0 10px;
}

.overskrift {
  padding-bottom: 10px;
  padding-left: 10px;
}

.tekst {
  padding-top: 20px;
}

.p_tekst {
  padding-bottom: 15px;
  padding-left: 10px;
}

.horisontal_linje {
  border-bottom-style: solid;
  border-color: #594838;
  border-bottom-width: 1px;
}

.citat {
  padding: 20px 10px;
}

@media (min-width: 800px) {
  section {
    padding-top: 60px;
  }

  /* om butikken */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 1200px;
    margin: 0 auto;
  }

  .tekst {
    max-width: 65ch;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .p_tekst {
    padding-bottom: 15px;
  }

  .galleri_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    gap: 10px;
  }

  .billede1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
  }

  .billede2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .billede3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .billede4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .billede5 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
  }

  .citat {
    padding: 50px 550px;
    text-align: center;
  }
}
