img {
  width: 100%;
  height: auto;
  /* display: block; */
  /* object-fit: cover;
  align-self: stretch; */
}

.galleri_grid {
  display: grid;
  gap: 8px;
  padding: 0 10px;
}

.overskrift {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tekst {
  padding-top: 3%;
  padding-right: 8%;
}

.p_tekst {
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* .horisontal_linje {
  border-bottom-style: solid;
  border-color: #594838;
  border-bottom-width: 1px;
} */

.citat {
  padding: 8% 5%;
  text-align: center;
}

.grid_1-1_sheilla {
  padding: 0px 10px;
}

/* video */

.video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* ikoner */
.flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.ikoner {
  width: 40px;
  height: 40px;
}

/* -----------------------------FULD SKÆRM---------------------- */

@media (min-width: 800px) {
  section {
    padding-top: 4.5%;
  }

  /* om butikken */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 1200px;
    margin: 0 auto;
  }

  .tekst {
    padding-top: 5%;
    padding-bottom: 12%;
    min-width: 75ch;
  }

  .p_tekst {
    padding-bottom: 15px;
    max-width: 65ch;
  }

  .galleri_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    gap: 10px;
  }

  .billede1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    object-fit: cover;
    align-self: stretch;
  }

  .billede2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    object-fit: cover;
    align-self: stretch;
  }

  .billede3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    object-fit: cover;
    align-self: stretch;
  }

  .billede4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    object-fit: cover;
    align-self: stretch;
  }

  .billede5 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    object-fit: cover;
    align-self: stretch;
  }

  .citat {
    padding: 0% 33%;
    text-align: center;
    padding-bottom: 4%;
  }

  /* om Sheilla */
  .grid_1-1_sheilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
  }

  /* ikoner */
  .flex {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .ikoner {
    width: 50px;
    height: 50px;
  }
}
