h5 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.3rem;
  color: #594838;
}
h6 {
  font-family: "Source Sans 3", "Calibri";
  font-size: 1.2rem;
  color: #809671;
}

/********** Kategori og filter **********/
a {
  color: #594838;
  text-decoration: underline;
}
a:hover {
  color: #809671;
}
.filter {
  list-style: none;
  padding-top: 10px;
  font-family: "Lora", "Calibri";
  font-size: 1.5rem;
}
.filter:hover {
  border-color: #809671;
}

/******* Produkter *******/
img {
  width: 55%;
}
.border {
  border: 1px solid #594838;
  text-align: center;
  place-content: center;
}
.grid_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #162a2c;
}
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
  }
  .grid_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
